<link rel="stylesheet" href="/css/player.css">
                <div class="card-body">
                    <form action="/statistics/statistic" method="POST">
                    <div id="logo"></div>
                    <div id="title">Crear</div>
                    <div id="sub-title">Experiencia</div>
                    <div id="input">
                        <div id="inputBox">
                            <label>Nombre del Jugador</label>
                            <input type="text" class="form-control" name="id_player" placeholder="Nombre del Jugador" autofocus/>
                        </div>
                       <div id="inputBox">
                            <label>Tipo de Jugador</label>
                            <input type="text" name="id_statistic" class="form-control"
                                placeholder="Tipo del Jugador"/>
                        </div>
                        <div id="inputBox">
                            <label>Ritmo <del> jugador</del></label>                        
                            <input type="text" name="swing" class="form-control" placeholder="Ritmo del jugador">
                        </div>
                        <div id="inputBox">
                            <label>Tiro del Jugador</label>
                            <input type="text" name="threw" class="form-control" placeholder="Tiro del jugador">
                        </div>
                        <div id="inputBox">
                            <label>Pase del Jugador</label>
                            <input type="text" name="happens" class="form-control" placeholder="Pase del jugador">
                        </div>
                        <div id="inputBox">
                            <label>Agilidad del Jugador</label>
                            <input type="text" name="agility" class="form-control" placeholder="Agilidad del jugador">
                        </div>
                        <div id="inputBox">
                            <label>Defensa del Jugador</label>
                            <input type="text" name="defending" class="form-control" placeholder="Defensa del jugador">
                        </div>
                        <div id="inputBox">
                            <label>Físico del Jugador</label>  
                            <input type="text" name="physical" class="form-control" placeholder="Físico del jugador">
                        </div>
                        <div id="inputBox">
                            <input type="submit" value="Guardar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
