<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/estadisticasEquipo" method="POST">
                        <h5>Valoracion del Equipo</h5>
                        <div name="valoracionequipo">
                            <select name="valoracionequipo" aria-label="Default select example" class="form-select">
                                <option value="Malo">Malo</option>
                                <option value="Regular">Regular</option>
                                <option value="Bueno">Bueno</option>
                                <option value="Excelente">Excelente</option>
                                <option value="Estrella">Estrella</option>
                            </select>
                        </div>
                        <br>
                        <h5>Quimica del Equipo</h5>
                        <div class="form-group">
                            <input type="text" name="quimicaequipo" class="form-control"
                                placeholder="Quimica del Equipo">
                        </div>
                        <br>

                        <br>
                        <h5>Triunfos Del Equipo</h5>
                        <div class="form-group">
                            <input type="text" name="triunfosequipo" class="form-control"
                                placeholder="Triunfos Del Equipo">
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-success btn-block"> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>