<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/estadisticas" method="POST">
                    <h5 class="mt-3">Nombre del Jugador</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" name="id_jugador" placeholder="Nombre del Jugador" autofocus>
                        </div>
                        <h5 class="mt-3">Tipo del Jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="id_estadisticas" class="form-control"
                                placeholder="Tipo del Jugador">
                        </div>
                        <h5 class="mt-3">Ritmo del jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="ritmo" class="form-control" placeholder="Ritmo del jugador">
                        </div>
                        <h5 class="mt-3">Tiro del jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="tiro" class="form-control" placeholder="Tiro del jugador">
                        </div>
                        <h5 class="mt-3">Pase del jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="pase" class="form-control" placeholder="Pase del jugador">
                        </div>
                        <h5 class="mt-3">Agilidad del jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="agilidad" class="form-control" placeholder="Agilidad del jugador">
                        </div>
                        <h5 class="mt-3">Defensa del jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="defensa" class="form-control" placeholder="Defensa del jugador">
                        </div>
                        <h5 class="mt-3">Físico del jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="fisico" class="form-control" placeholder="Físico del jugador">
                        </div>
                        <div class="form-group mt-3 d-grid">
                            <button  type="submit" class="btn btn-success btn-block"> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>