<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/jugador" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Jugador" placeholder="Jugador" autofocus>
                        </div>
                        <div class="form-grou">
                            <input type="text" name="Estadísticas" class="form-control"
                                placeholder="Estadísticas del Jugador">
                        </div>
                        <div class="form-grou">
                            <input type="text" name="Ritmo" class="form-control" placeholder="Ritmo del jugador">
                        </div>
                        <div class="form-grou">
                            <input type="text" name="Tiro" class="form-control" placeholder="Tiro del jugador">
                        </div>
                        <div class="form-grou">
                            <input type="text" name="Pase" class="form-control" placeholder="Pase del jugador">
                        </div>
                        <div class="form-grou">
                            <input type="text" name="Agilidad" class="form-control" placeholder="Agilidad del jugador">
                        </div>
                        <div class="form-grou">
                            <input type="text" name="Defensa" class="form-control" placeholder="Defensa del jugador">
                        </div>
                        <div class="form-grou">
                            <input type="text" name="Físico" class="form-control" placeholder="Físico del jugador">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block"> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>