<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/jugador" method="POST">
                        <h5>Posición del Jugador</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Posiciónjugador" placeholder="Posición del Jugador" autofocus>
                        </div>
                        <h5>Nombre del Jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="nombrejugador" class="form-control"
                                placeholder="Nombre del Jugador">
                        </div>
                        <h5>Apellido del jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="apellidojugador" class="form-control"
                                placeholder="Apellido del jugador">
                        </div>
                        <h5>Altura del jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="alturajugador" class="form-control"
                                placeholder="Altura del jugador">
                        </div>
                        <h5>Edad del jugador</h5>
                        <div class="form-grou">
                            <input type="text" name="edadjugador" class="form-control" placeholder="Edad del jugador">
                        </div>
                        <div class="form-group">
                            <button  type="submit" class="btn btn-success btn-block"> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>