<link rel="stylesheet" href="/css/player.css">
                <div class="card-body">
                    <form action="/teamstats/edit-teamstat/{{teamstat.id}}" method="POST">
                    <div id="title">Crear</div>
                    <div id="sub-title">Experiencia</div>
                    <div id="input">
                         <div id="inputBox">
                            <label>Valoracion del Equipo</label>
                            <select name="teamvaluation" aria-label="Default select example" class="form-select">
                                <option value="Malo">Malo</option>
                                <option value="Regular">Regular</option>
                                <option value="Bueno">Bueno</option>
                                <option value="Excelente">Excelente</option>
                                <option value="Estrella">Estrella</option>
                            </select>
                        </div>
                        <div id="inputBox">
                            <label>Quimica del Jugador</label>
                            <input type="text" value="{{teamstat.teamchemistry}}" name="teamchemistry" class="form-control"
                                placeholder="Quimica del Equipo">
                        </div>
                        <div id="inputBox">
                            <label>Triunfos del Jugador</label>
                            <input type="text" value="{{teamstat.teamwins}}" name="teamwins" class="form-control"
                                placeholder="Triunfos Del Equipo">
                        </div>
                        <div id="inputBox">
                            <input type="submit" value="Guardar"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
