<link rel="stylesheet" href="/css/player.css">
                <div class="card-body">
                    <form action="/teamstats/teamstat" method="POST">
                    <div id="title">Crear</div>
                    <div id="sub-title">Experiencia</div>
                    <div id="input">
                        <div id="inputBox">
                            <label>Valoracion del Equipo</label>     
                            <select name="teamvaluation" id="teamvaluation" aria-label="Default select example" class="form-select form-control">
                                <option value="Malo">Malo</option>
                                <option value="Regular">Regular</option>
                                <option value="Bueno">Bueno</option>
                                <option value="Excelente">Excelente</option>
                                <option value="Estrella">Estrella</option>
                            </select>
                        </div>
                        <div id="inputBox">
                            <label>Quimica del Equipo</label>          
                            <input type="text" name="teamchemistry" class="form-control"
                                placeholder="Quimica del Equipo"/>
                        </div>
                        <div id="inputBox">
                            <label>Triunfos del Equipo</label>
                            <input type="text" name="teamwins" class="form-control"
                                placeholder="Triunfos Del Equipo">
                        </div>
                       <div id="inputBox">
                            <input type="submit" value="Guardar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
