<link rel="stylesheet" href="/css/login.css">
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/signup" method="POST">
            <h1>Crear una cuenta</h1>
            <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>O use su correo electrónico para registrarse</span>
            <input type="text" name="fullname" placeholder="Tu Nombre completo:" />
            <input type="text" name="username"  placeholder="Nombre del Usuario:" />
            <input type="password" name="password" placeholder="Contraseña:" />
            <button>Registrarse</button>
        </form>
    </div>
    <div class="form-container log-in-container">
        <form action="#">
            <h1>Iniciar sesión</h1>
            <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>Use su correo electrónico</span>
            <input type="email" placeholder="Correo electrónico:" />
            <input type="password" placeholder="Contraseña:" />
            <a href="#">¿Olvidaste tu contraseña?</a>
            <button>Iniciar sesión</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Bienvenido</h1>
                <p>¿Ya tienes una cuenta? Iniciar sesión</p>
                <button class="ghost" id="logIn">Iniciar sesión</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>¡Hola Comunidad :D!</h1>
                <p>¿No tienes una cuenta? Regístrate gratis</p>
                <button class="ghost" id="signUp">Registrarse</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>